<!DOCTYPE html>
<html lang="en">
{% extends 'menu.html' %}
<head>
    <meta charset="UTF-8">
    <title>Описание</title>
</head>
<body>
    <pagename>
        {% block pagename %}
        <h1>Описание сыродавленного масла</h1>
        {% endblock %}
    </pagename>

    <menu>
        {% block menu %}
        {{ block.super }}
        {% endblock %}
    </menu>

    <content>
        {% block content %}
            <h2>Подсолнечное масло</h2>
            <p>Укрепляет кости, улучшает состояние волос,
                кожи и ногтей, улучшает зрение,
                на основе масла готовят мази и растворы
                (всё это не относится к маслу продаваемому в магазинах,
                там к сожалению масла добытые химическим путем).</p>
            <h2>Льняное масло</h2>
            <p>Нормализует пищеварительные процессы,
                снижает риск сердечно-сосудистых заболеваний,
                способствует омоложению клеток, а также профилактике
                возникновения онкологии и нормализации работы печени</p>
            <h2>Масло грецкого ореха</h2>
            <p>Идеальное соотношение Омега-3 и Омега-6.
                Оно укрепляет иммунитет, выводит радионуклиды из организма,
                предупреждает развитие атеросклероза, обладает
                свойствами афродизиака,
                нормализует гиперфункцию щитовидной железы.</p>
            <h2>Масло конопляного семени</h2>
            <p>Применяют в терапевтических и профилактических целях
                для нормализации иммунитета, противодействие вирусам,
                нормализации сердечно-сосудистой и нервной системы,
                восстановления липидного барьера, восстановление при
                гормональных нарушениях, профилактика онкологических
                заболеваний, стабилизация уровня сахара при диабете,
                повышение лактации у кормящих матерей, восстановление
                после операций</p>
            <p><a href='/maslo/'><button>Вернуться обратно</button></a></p>
        {% endblock %}
    </content>

</body>
</html>