<!DOCTYPE html>
<html lang="en">
{% extends 'menu.html' %}
<head>
    <meta charset="UTF-8">
    <title>Цены</title>
</head>
<body>
    <pagename>
        {% block pagename %}
        <h1>Цены сыродавленного масла</h1>
        {% endblock %}
    </pagename>

    <menu>
        {% block menu %}
        {{ block.super }}
        {% endblock %}
    </menu>

    <content>
        {% block content %}
            <ul>
                {% for i in price %}
                    <li> {{ i }}  <button>купить</button></li>
                {% endfor %}
            </ul>
            <p><a href="/maslo/"><button>Вернуться обратно</button></a></p>
        {% endblock %}
    </content>


</body>
</html>