<!DOCTYPE html>
<html lang="en">
{% extends 'menu.html' %}
<head>
    <meta charset="UTF-8">
    <title>Описание</title>
</head>
<body>
    <pagename>
        {% block pagename %}
        <h1>Всё про игры</h1>
        {% endblock %}
    </pagename>

    <menu>
        {% block menu %}
        {{ block.super }}
        {% endblock %}
    </menu>

    <content>
        {% block content %}
            <h2>"Игра престолов"</h2>
            <p>Повествует о девяти благородных семействах, которые сражаются за власть над Семью Королевствами.
                Но войны, заговоры и интриги затмевает возвращение древнего мифического врага, который бездействовал
                тысячу лет — и лишь Стена на севере Вестероса стоит на пути у его армии.</p>
            <h2>"Три кота"</h2>
            <p>История о повседневной жизни, отношениях и приключениях трёх маленьких любознательных котят Коржика,
                Компота и Карамельки. 1 Они живут в современном городе вместе с родителями и бабушкой.</p>
            <h2>"Dota"</h2>
            <p>Изображает сражение на карте особого вида; в каждом матче участвуют две команды по пять игроков,
                управляющих разными «героями» — персонажами с различными наборами способностей и характеристиками.
                Для победы в матче команда должна уничтожить особый объект — «крепость», принадлежащий вражеской
                стороне, и защитить от уничтожения собственную «крепость».</p>

            <p><a href='/games/'><button>Вернуться обратно</button></a></p>
        {% endblock %}
    </content>

</body>
</html>